.attribution {
  font-size: 0.6em;
  text-align: center;
  margin-block-start: 1.25em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;

}
section {
  background-color: hsl(0, 0%, 100%);
  margin-block-start: 6.25em;
  display: flex;
  flex-direction: column;
  border-radius: 1.25em;
  width: 20em;
  height: 31.1em;
}
img {
  align-self: center;
  border-radius: 0.62em;
  width: 18em;
  height: 18em;
  margin-block-start: 1.25em;
}
.qrcode {
  text-align: center;
  align-content: center;
}
.bold {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
.light {
  font-weight: 400;
  color: hsl(216, 15%, 48%);
}
@media (max-width: 30em) {
  .qrcode {
    margin-block-start: 6.25em;
    margin-inline-start: 1.68em;
    margin-inline-end: 1.68em;
    /* margin-bottom: 156px; */
  }
}